$mainColor: #FFF;
$darkColor: #282828;

$firstColor: #ff6600;
$firstlightColor: #ff9955;

$secondColor: #4c932c;
$secondlightColor: #67b257;

$mainFont: 'Press Start 2P', cursive;
$secondFont: 'Ultra', serif;
$thirdFont: 'Passion One', cursive;

