@use '/src/styles/_vars.scss';
.choiceAvatarBloc{
  margin: auto;
  max-width: 700px;
  .iconUser-image-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .iconUser-image {
    background-image: linear-gradient( 10deg,  rgba(202,50,50,1) 5.7%, rgba(252,195,12,1) 92.4% );
    max-width: 25%;
    height: auto;
    margin: 1em;
    cursor: pointer;
    transition: 0.5s;
    }
  
    .iconUser-image:hover{
  
      border: 5px solid vars.$secondColor;
    }
  

  .btn-grad-avatar {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
  .btn-grad-avatar {
     font-family: vars.$mainFont;
     padding: 15px 15px;
     text-align: center;
     text-transform: uppercase;
     font-size: 0.6em;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     border-radius: 10px;
     border: none;
     max-height: 50px;
     float: right;
   }

   .btn-grad-avatar:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }

}

