@use '/src/styles/_vars.scss';

.resolutionsBloc {
  
  display: block;
  text-align: center;
  padding-top: 5em;
  height: auto;
  margin: auto;
  width: 100%;

  .image-active-reso {
    position: relative;
  }

  .activeResolution-content {
    margin-top: 5em;
    margin-bottom: 8em;
    position: relative;

  .activeResolution-background {
    background-image: radial-gradient( circle 700px at 51% 30.3%,   rgba(202,50,50,1) 5.7%, rgba(252,195,12,1) 92.4% );
    max-width: 100%;
    height: auto;
  }

  .activeTitreResolution {
    font-family: vars.$secondFont;
    position: relative;
    font-size: 1.1em;
    top: 270px;
    text-align: center;
  }

  .activeIconResolution-image {
    position: relative;
    max-width: 100%;
    bottom: 110px;
    height: auto;
    z-index:1;
  }

  .deleteicon {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 50px;
   margin: 0.5em;
   cursor: pointer;
   z-index: 4;
   }

  .check-icon {
    position: relative;
    left:360px;
    bottom: 100px;
  }

  .calendrier-content {
    margin: 1em;
    display: flex;   
  }

  .calendrier-background {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:auto;
    background:transparent;
    margin-bottom: 2em;
  }

  .onebox-calendrier{background-color: vars.$darkColor; }
  .onebox-calendrier {
    border: none;
    color: white;     
    font-family: vars.$mainFont;
    font-size: 0.6em;
    padding: 5px;
    margin:5px 5px 0px 5px;
    text-align: center;
    transform: 1s;
  }

  .onebox-calendrier:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .checkboxcolor {
    color: green;
  }

  .nopeboxcolor {
    color: orange;
  }

  .dday {
    font-family: vars.$secondFont;
    font-size: 0.9em;
  }
  

  }

  .bouton-completed {
    background: vars.$darkColor;
    border: none;
    padding: 0.4em;
    font-family: vars.$mainFont;
    font-size: 1em;
    color: white;
  }

  .buttonArchive{
    position: relative;
  }

  .completed-image {
   
    position: absolute;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    left: 50%;
    top: 15%;
    z-index: 3;
    transform: translate(-50%, -50%);
  }

}
